<!-- assign-role.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Assign Role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="emailAddress"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Role Name</ion-label>
    <ion-input type="text" [(ngModel)]="roleName"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="assignRole()">Assign Role</ion-button>
</ion-content>

