

<ion-content>
  <ion-card style="height:450px; width:450px; margin-left:auto; margin-right:auto; margin-top:140px;">
    <div style="margin: 50px 30px;">
      <h1 style="font-weight: bold; color: black;">Reset Your Password</h1>
      <h6>Please enter your new password details</h6>
      <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
        <ion-item>
          <ion-label position="floating">Email <span style="color: red;">*</span></ion-label>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            required 
            email 
            #emailInput="ngModel">
          </ion-input>
        </ion-item>
        <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red; font-size: 12px;">
          <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput.errors?.['email']">Email must be valid.</div>
        </div>
        <ion-item>
          <ion-label position="floating">New Password <span style="color: red;">*</span></ion-label>
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            name="password" 
            required 
            #passwordInput="ngModel">
          </ion-input>
        </ion-item>
        <div *ngIf="passwordInput.invalid && passwordInput.touched" style="color: red; font-size: 12px;">
          <div *ngIf="passwordInput.errors?.['required']">New Password is required.</div>
        </div>
        <ion-item>
          <ion-label position="floating">Confirm Password <span style="color: red;">*</span></ion-label>
          <ion-input 
            type="password" 
            [(ngModel)]="confirmPassword" 
            name="confirmPassword" 
            required 
            #confirmPasswordInput="ngModel">
          </ion-input>
        </ion-item>
        <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" style="color: red; font-size: 12px;">
          <div *ngIf="confirmPasswordInput.errors?.['required']">Confirm Password is required.</div>
        </div>
        <ion-button 
          expand="full" 
          style="margin-top: 20px;" 
          type="submit" 
          [disabled]="resetForm.invalid">
          Reset Password
        </ion-button>
      </form>

    </div>
  </ion-card>
</ion-content>




<!--<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>-->

