

<ion-content>
  <ion-card style="height:350px; width:450px; margin-left:auto; margin-right:auto; margin-top:140px;">
    <div style="margin: 50px 30px;">
      <h1 style="font-weight: bold; color: black;">Forgot Your Password?</h1>
      <h6 style="margin-left:5px;">Please enter your email address to get OTP</h6>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="Email"></ion-input>
      </ion-item>
      <ion-button expand="full" style="margin-top: 20px;" (click)="forgotPassword()">Send OTP</ion-button>
      <div style="margin-top: 20px; text-align: center;">
        <a href="" routerLink="/login">Back to Login</a>
      </div>
    </div>
  </ion-card>
</ion-content>


